<template>
  <ul class="list-reset">
    <li class="bg-white px-4" v-for="(todo, index) in todos" :key="index">
      <div class="flex items-center border-b border-grey-lighter">
        <div class="flex-grow flex items-center py-4">
          <input type="checkbox" v-model="todo.complete" class="mr-3">
          <span>{{ todo.description }}</span>
        </div>
        <svg class="ml-2 h-4 w-4 cursor-move text-grey hover:text-grey-darkest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M14 4h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1zM8 4h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1zm6 6h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1zm-6 0h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1zm6 6h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1zm-6 0h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1z"/></svg>
      </div>
    </li>
  </ul>
</template>
<script>
  export default {
    props: ["todos"],
    mounted() {
      const Sortable = require('@shopify/draggable').Sortable
      const sortable = new Sortable(this.$el, {
        draggable: `li`,
        handle: `svg`,
        mirror: {
          constrainDimensions: true
        },
      })
    }
  }
</script>
