<template>
  <div class="tag-input">
    <div v-for="tag in tags" :key="tag" :class="tagsClass">
      <span>{{ tag }}</span>
      <button type="button"
              class="ml-1 text-white"
              @click="removeTag(tag)" >&times;</button>
    </div>
    <input :class="inputClass" placeholder="Add tag..."
           v-model="input"
           @keydown.backspace="handleBackspace"
           @keydown.enter.prevent="addTag" />
  </div>
</template>
<script>
  export default {
    model: {
      prop: "tags",
      event: "update"
    },
    props: ["tags"],
    data() {
      return {
        input: "",
        inputClass: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mt-1",
        tagsClass: "inline-block border border-blue rounded py-1 px-3 bg-blue text-white mr-1 mb-1"
      }
    },
    computed: {
      newTag() {
        return this.input.trim()
      }
    },
    methods: {
      removeTag(tag) {
        this.$emit("update", this.tags.filter(t => t !== tag))
      },
      addTag() {
        if (this.newTag.length === 0 || this.tags.includes(this.newTag)) {
          return
        }
        this.$emit("update", [...this.tags, this.newTag])
        this.clearInput()
      },
      clearInput() {
        this.input = ""
      },
      handleBackspace(e) {
        if (this.newTag.length === 0) {
          this.$emit("update", this.tags.slice(0, -1))
        }
      }
    }
  }
</script>
