<template>
  <div>
    <AppRenderlessAudio :audio="audio">
      <div slot-scope="{ play, pause }">
        <button :class="btnClass" @click="play">Play</button>
        <button :class="btnClass" @click="pause">Pause</button>
      </div>
    </AppRenderlessAudio>
  </div>
</template>

<script>
import AppRenderlessAudio from "~/components/audio/AppRenderlessAudio"
export default {
  data() {
    return {
      btnClass: "inline-block border border-blue rounded py-1 px-3 bg-blue text-white mr-1 mb-1"
    }
  },
  components: {
    AppRenderlessAudio
  },
  props: {
    audio: {
      type: String,
      required: true
    }
  }
}
</script>
