<template>
  <section class="container mx-auto pt-8">
    <div class="max-w-sm mx-auto mb-8">
      <h2 class="mb-2 text-white">Wave Audio</h2>
      <WaveAudio :audio="audio" />
    </div>
  </section>
</template>

<script>
import WaveAudio from "~/components/audio/WaveAudio"
export default {
  components: {
    WaveAudio
  },
  data() {
    return {
      audio: "/mpthreetest.mp3"
    }
  }
}
</script>

<style>
</style>
