<template>
  <section class="container mx-auto pt-8">
    <div class="max-w-sm mx-auto mb-8">
      <h2 class="mb-2 text-white">Sortable</h2>
      <SortableList :todos="todos" />
    </div>
  </section>
</template>

<script>
import SortableList from "~/components/sortable/SortableList"
export default {
  components: {
    SortableList
  },
  data() {
    return {
      todos: [
        { id: 1, description: "Get travel insurance", complete: false },
        { id: 2, description: "Pay hydro bill", complete: false },
        { id: 3, description: "Record podcast with Taylor", complete: false },
        { id: 4, description: "Design Twitter card for new landing page", complete: false },
        { id: 5, description: "Update credit card for Typekit subscription", complete: false },
      ],
    }
  }
}
</script>

<style>
</style>
