<template>
  <section class="container mx-auto pt-8">
    <div class="max-w-sm mx-auto mb-8">
      <h2 class="mb-2 text-white">Tag Input</h2>
      <TagInput v-model="tags" />
    </div>
  </section>
</template>

<script>
import TagInput from "~/components/tags/TagInput"

export default {
  components: {
    TagInput
  },
  data() {
    return {
      tags: ['EAE', 'Station', 'Serious']
    }
  }
}
</script>

<style>
</style>
